@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

/* Set a background color for the whole page */
body {
    background-color: #f4f4f4;
    font-family: 'Prompt', sans-serif;
}

/* Style the form container */
form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
    max-width: 800px; /* Adjust the max-width as needed */

    /* Add responsiveness for smaller screens */
    @media (max-width: 768px) {
        max-width: 90%;
    }

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style form labels and input fields */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 15px; /* Increased padding for larger input boxes */
    margin-bottom: 20px; /* Increased margin for larger input boxes */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: larger; /* Larger font size for input text */
}

/* Style the reset and submit buttons */
button[type="reset"], button[type="button"] {
    display: inline-block;
    padding: 15px 25px; /* Increased padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger; /* Larger font size for button text */
}

button[type="reset"] {
    background-color: #ccc;
}

button[type="button"] {
    background-color: #007BFF;
    color: #fff;
}

button[type="reset"]:hover {
    background-color: #aaa;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

/* Style the result section */
#result {
    font-size: 18px;
    margin-top: 20px;
}
